.plan__list {
    .plan__item {
        border: 4px solid var(--text-color);
        width: 100%;
        margin-bottom: 10px;
        padding: 0 8px;

        &:hover {
            background: #ccc;
            transform: translateY(-1px);
        }
        
        h2 {
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 1;
            overflow: hidden;
        }

        .col {
            text-align: center;
            padding-right: 20px;

            &.col1 {
                width: 420px;
            }

            &.col2 {
                width: 150px;
                padding-right: 16px;
            }

            &.col3 {
                width: 120px;
                padding-right: 16px;
            }

            &.col4 {
                width: 160px;
                padding-right: 8px;
            }

            &.col5 {
                width: 160px;
                padding-right: 16px;
            }

            &.col6 {
                padding-right: 0;

                > div {
                    padding-bottom: 15px;
                }
            }
        }
    }
}